body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  
  .natija  {
    width: 1000px;
    height: 400px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .check  { 
    padding: 12px 30px;
    font-size: 18px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .javob  {
    width: 600px;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  